%h1 Edit a Character

= form_for(@character, url: character_path, method: :put) do |f|
  - if @genre == "Transformers"
    = render partial: "transformers_form", locals: {f: f}
  - else
    = render partial: "dnd_form", locals: {f: f}
