@import "bootstrap";

.devise_form{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.form-control{
  width: 100%;
}

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-warning;
}
