@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.devise_form{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.form-control{
  width: 100%;
}

.alert-alert, #error_explanation, .alert-error{
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-warning;
}

.center{
  margin: auto;
  text-align: center;
}

#error_explanation{
  border: solid 2px red;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.padding_20{
  padding-top: 20px;
}

.width_100{
  width: 100%;
}

.player_hand{
  background-color: #009933;
  height: 100px;
}

.playing_card{
  background-color: white;
  height: 250px;
  border: 1px solid black;
}

.h-flip{
  transform: rotate(180deg);
}

.card_suit_sm{
  width: 25px;
  height: 25px;
}

.card_suit_lg{
  width: 60px;
  height: 60px;
}

.shuffle_cards{
  min-width: 100px;
}

.card_select_popup{
  width: 60%;
  background: red;
  height: 400px;
  margin: 10px;
  z-index: 999;
}

.card-select{
  border: 1px solid black;
  height: 300px;
  padding: 10px;
}
